ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
.lt_aside{
    width:180px;
    height: 100%;
    background-color: #222D32;
    position:fixed;
    top:0;
    left: 0;
    color: #fff;
    z-index: 999;
    transition:  all 1s;
}
.lt_aside.now{
    left:-180px;
}
.lt_left.now,.lt_left.now .topbar{

    padding-left: 0;
}
.lt_aside a{
    color: #fff;
    display: block;
}
.mt_20{
    margin-top: 20px;
}
.lt_left,.lt_left .topbar{
    transition:  all 1s;
}

.lt_brand{
    overflow: hidden;
    height: 50px;
    background-color: #367FA9;
}
.lt_brand h1{
    font-size: 24px;
    text-align: center;
    margin:10px auto;
}
.lt_user img{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.lt_user p{
    font-size: 18px;
}
.lt_user {
    text-align: center;
    height: 180px;
    padding-top: 20px;
}
.lt_list a{
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    border-left: 3px solid transparent;
}
.lt_list .child a{
    text-indent: 1em;
}
.lt_list a.now{
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}
.lt_list a span{
    margin-left: 4px;
}



/* dingnbu */
.lt_left{
    padding-left: 180px;
    padding-top: 50px;
    /* background-color: red; */
    /* height: 1000px; */
}
.topbar{
width: 100%;
height: 50px;
background-color: #3C8DBC;
position: fixed;
top: 0;
left: 0;
padding-left: 180px;
z-index: 88;
}
.topbar a{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}
#main_box{
    width: 50%;
    height: 400px;
}
#main_box2{
    width: 50%;
    height: 400px;
}